/* ::::: https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&subset=latin%2Clatin-ext&ver=3.8.3 ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatra1rvmpjeky21_gqjallji.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('u-wuoqret9fueobqw7jkrt8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsha1rvmpjeky21_gqjallji.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('prmixeptr36kac0geaetxrsuofak0levemleqytnfay.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbtih4imgi8p11rfo6ypcpc0.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url('prmixeptr36kac0geaetxmweb5poa5ztb49ylyuzh1a.woff') format("woff");
}
/* ::::: https://www.majinmht.com/wp-includes/css/dashicons.min.css?ver=3.8.3 ::::: */

@font-face {
	font-family: "dashicons";
	src: url('dashicons.eot');
}
@font-face {
	font-family: "dashicons";
	font-style: normal;
	font-weight: 400;
	src: url('undefined') format("woff"), url('dashicons.ttf') format("truetype"), url('dashicons.svg') format("svg");
}
/* ::::: https://www.majinmht.com/wp-includes/css/admin-bar.min.css?ver=3.8.3 ::::: */

#wpadminbar * { height: auto; width: auto; margin: 0px; padding: 0px; position: static; text-shadow: none; text-transform: none; letter-spacing: normal; font: 400 13px/32px "Open Sans",sans-serif; border-radius: 0px; box-sizing: content-box; transition: none 0s ease 0s ; }
html:lang(he-il) .rtl #wpadminbar * { font-family: Arial,sans-serif; }
#wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon { color: rgb(238, 238, 238); }
#wpadminbar #wp-admin-bar-site-name a.ab-item, #wpadminbar #wp-admin-bar-my-sites a.ab-item { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#wpadminbar ul li:before, #wpadminbar ul li:after { content: normal; }
#wpadminbar a, #wpadminbar a:hover, #wpadminbar a img, #wpadminbar a img:hover { outline: 0px none; border: 0px none; text-decoration: none; background: none repeat scroll 0px 0px transparent; }
#wpadminbar a:focus, #wpadminbar a:active, #wpadminbar input[type="text"], #wpadminbar input[type="password"], #wpadminbar input[type="number"], #wpadminbar input[type="search"], #wpadminbar input[type="email"], #wpadminbar input[type="url"], #wpadminbar select, #wpadminbar textarea, #wpadminbar div { outline: 0px none; }
#wpadminbar { direction: ltr; color: rgb(204, 204, 204); font: 400 13px/32px "Open Sans",sans-serif; height: 32px; position: fixed; top: 0px; left: 0px; width: 100%; min-width: 600px; z-index: 99999; background: none repeat scroll 0% 0% rgb(34, 34, 34); }
#wpadminbar .ab-sub-wrapper, #wpadminbar ul, #wpadminbar ul li { background: none repeat scroll 0px 0px transparent; clear: none; list-style: none outside none; margin: 0px; padding: 0px; position: relative; text-indent: 0px; z-index: 99999; }
#wpadminbar ul#wp-admin-bar-root-default > li { margin-right: 0px; }
#wpadminbar .quicklinks { border-left: 1px solid transparent; }
#wpadminbar .quicklinks ul { text-align: left; }
#wpadminbar li { float: left; }
#wpadminbar .ab-empty-item { outline: 0px none; }
#wpadminbar .quicklinks .ab-top-secondary > li { float: right; }
#wpadminbar .quicklinks a, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .shortlink-input { height: 32px; display: block; padding: 0px 10px; margin: 0px; }
#wpadminbar .quicklinks > ul > li > a { padding: 0px 8px 0px 7px; }
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input { margin: 0px; padding: 0px; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); background: none repeat scroll 0% 0% rgb(51, 51, 51); display: none; position: absolute; float: none; }
#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper { min-width: 100%; }
#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper { right: 0px; left: auto; }
#wpadminbar .ab-submenu { padding: 6px 0px; }
#wpadminbar .quicklinks .menupop ul li { float: none; }
#wpadminbar .quicklinks .menupop ul li .ab-item, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li .ab-item, #wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item, #wpadminbar .shortlink-input { line-height: 26px; height: 26px; white-space: nowrap; min-width: 140px; }
#wpadminbar.nojs li:hover > .ab-sub-wrapper, #wpadminbar li.hover > .ab-sub-wrapper { display: block; }
#wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item { background: none repeat scroll 0% 0% rgb(51, 51, 51); color: rgb(46, 162, 204); }
#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label { color: rgb(46, 162, 204); }
#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon, #wpadminbar .ab-icon, #wpadminbar .ab-item:before { position: relative; float: left; font: 400 20px/1 dashicons; padding: 4px 0px; background-image: none ! important; margin-right: 6px; }
#wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar #adminbarsearch:before { color: rgb(153, 153, 153); }
#wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar #adminbarsearch:before { position: relative; transition: all 0.1s ease-in-out 0s; }
#wpadminbar .ab-label { display: inline-block; height: 32px; }
#wpadminbar .ab-submenu .ab-item { color: rgb(238, 238, 238); }
#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a { color: rgb(238, 238, 238); }
#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before { color: rgb(46, 162, 204); }
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary { display: block; position: relative; right: auto; margin: 0px; box-shadow: none; }
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu { background: none repeat scroll 0% 0% rgb(75, 75, 75); }
#wpadminbar .quicklinks .menupop .ab-sub-secondary > li > a:hover, #wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus a { color: rgb(46, 162, 204); }
#wpadminbar .ab-top-secondary { float: right; }
#wpadminbar ul li:last-child, #wpadminbar ul li:last-child .ab-item { box-shadow: none; }
#wp-admin-bar-my-account > .ab-item:before { content: ""; top: 2px; float: right; margin-left: 6px; margin-right: 0px; }
#wpadminbar #wp-admin-bar-user-actions > li { margin-left: 16px; margin-right: 16px; }
#wpadminbar #wp-admin-bar-user-actions.ab-submenu { padding: 6px 0px 12px; }
#wpadminbar #wp-admin-bar-user-info { margin-top: 6px; margin-bottom: 15px; height: auto; background: none repeat scroll 0px 0px transparent; }
#wpadminbar #wp-admin-bar-user-info a { background: none repeat scroll 0px 0px transparent; height: auto; }
#wpadminbar #wp-admin-bar-user-info span { background: none repeat scroll 0px 0px transparent; padding: 0px; height: 18px; }
#wpadminbar #wp-admin-bar-user-info .display-name, #wpadminbar #wp-admin-bar-user-info .username { display: block; }
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon { width: 15px; height: 20px; margin-right: 0px; padding: 6px 0px 5px; }
#wpadminbar #wp-admin-bar-wp-logo > .ab-item { padding: 0px 7px; }
#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before { content: ""; top: 2px; }
#wpadminbar #wp-admin-bar-appearance { margin-top: -12px; }
#wpadminbar #wp-admin-bar-my-sites > .ab-item:before, #wpadminbar #wp-admin-bar-site-name > .ab-item:before { content: ""; top: 2px; }
#wpadminbar #wp-admin-bar-edit > .ab-item:before { content: ""; top: 2px; }
#wpadminbar #wp-admin-bar-site-name > .ab-item:before { content: ""; }
#wpadminbar #wp-admin-bar-comments .ab-icon { margin-right: 6px; }
#wpadminbar #wp-admin-bar-comments .ab-icon:before { content: ""; top: 3px; }
#wpadminbar #wp-admin-bar-comments .count-0 { opacity: 0.5; }
#wpadminbar #wp-admin-bar-new-content .ab-icon:before { content: ""; top: 4px; }
#wpadminbar #wp-admin-bar-updates .ab-icon:before { content: ""; top: 2px; }
#wpadminbar #wp-admin-bar-search .ab-item { padding: 0px; background: none repeat scroll 0% 0% transparent; }
#wpadminbar #adminbarsearch { position: relative; height: 32px; padding: 0px 2px; }
#wpadminbar #adminbarsearch:before { position: absolute; top: 6px; left: 5px; z-index: 20; font: 400 20px/1 dashicons ! important; content: ""; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input { position: relative; z-index: 30; font: 13px/24px "Open Sans",sans-serif; height: 24px; width: 24px; padding: 0px 3px 0px 24px; margin: 0px; color: rgb(204, 204, 204); background-color: rgba(255, 255, 255, 0); border: 0px none; outline: 0px none; cursor: pointer; box-shadow: none; box-sizing: border-box; transition-duration: 400ms; transition-property: width, background; transition-timing-function: ease; }
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { z-index: 10; color: rgb(0, 0, 0); width: 200px; background-color: rgba(255, 255, 255, 0.9); cursor: text; border: 0px none; }
#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder { color: rgb(153, 153, 153); }
#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder { color: rgb(153, 153, 153); }
#wpadminbar #adminbarsearch .adminbar-button { display: none; }
.no-customize-support .hide-if-no-customize, .customize-support .hide-if-customize, .no-customize-support.wp-core-ui .hide-if-no-customize, .no-customize-support .wp-core-ui .hide-if-no-customize, .customize-support.wp-core-ui .hide-if-customize, .customize-support .wp-core-ui .hide-if-customize { display: none; }
#wpadminbar .screen-reader-text, #wpadminbar .screen-reader-text span { position: absolute; left: -1000em; top: -1000em; height: 1px; width: 1px; overflow: hidden; }
#wpadminbar .screen-reader-shortcut { position: absolute; top: -1000em; }
#wpadminbar .screen-reader-shortcut:focus { left: 6px; top: 7px; height: auto; width: auto; display: block; font-size: 14px; font-weight: 700; padding: 15px 23px 14px; background: none repeat scroll 0% 0% rgb(241, 241, 241); color: rgb(33, 117, 155); z-index: 100000; line-height: normal; text-decoration: none; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6); }
@media screen and (max-width: 782px) {
	html #wpadminbar { left: 0px ! important; z-index: 500 ! important; height: 46px; min-width: 300px; }
	#wpadminbar * { font: 400 14px/32px "Open Sans",sans-serif; }
	#wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks .ab-empty-item { padding: 0px; height: 46px; line-height: 46px; width: auto; }
	#wpadminbar .ab-icon { font: 40px/1 dashicons ! important; margin: 0px; padding: 0px; width: 52px; height: 46px; text-align: center; }
	#wpadminbar .ab-icon:before { text-align: center; }
	#wpadminbar .ab-submenu { padding: 0px; }
	#wpadminbar #wp-admin-bar-site-name a.ab-item, #wpadminbar #wp-admin-bar-my-sites a.ab-item, #wpadminbar #wp-admin-bar-my-account a.ab-item { text-overflow: clip; }
	#wpadminbar .ab-label { display: none; }
	#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper .ab-item { font-size: 16px; padding: 6px 15px 12px; }
	#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper a:empty { display: none; }
	#wpadminbar #wp-admin-bar-wp-logo > .ab-item { padding: 0px; }
	#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon { padding: 0px; width: 52px; height: 46px; text-align: center; vertical-align: top; }
	#wpadminbar #wp-admin-bar-wp-logo > .ab-item .ab-icon:before { font: 28px/1 dashicons ! important; top: -3px; }
	#wpadminbar .ab-icon, #wpadminbar .ab-item:before { padding: 0px; }
	#wpadminbar #wp-admin-bar-my-sites > .ab-item, #wpadminbar #wp-admin-bar-site-name > .ab-item, #wpadminbar #wp-admin-bar-edit > .ab-item, #wpadminbar #wp-admin-bar-my-account > .ab-item { text-indent: 100%; white-space: nowrap; overflow: hidden; width: 52px; padding: 0px; color: rgb(153, 153, 153); position: relative; }
	#wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon, #wpadminbar .ab-icon, #wpadminbar .ab-item:before { padding: 0px; margin-right: 0px; }
	#wpadminbar #wp-admin-bar-edit > .ab-item:before, #wpadminbar #wp-admin-bar-my-sites > .ab-item:before, #wpadminbar #wp-admin-bar-site-name > .ab-item:before, #wpadminbar #wp-admin-bar-my-account > .ab-item:before { display: block; text-indent: 0px; font: 400 32px/1 dashicons; top: 7px; width: 52px; text-align: center; }
	#wpadminbar #wp-admin-bar-appearance { margin-top: 0px; }
	#wpadminbar #wp-admin-bar-search { display: none; }
	#wpadminbar #wp-admin-bar-new-content .ab-icon:before { top: 0px; line-height: 53px; height: 46px ! important; text-align: center; width: 52px; display: block; }
	#wpadminbar #wp-admin-bar-updates { text-align: center; }
	#wpadminbar #wp-admin-bar-updates .ab-icon:before { top: 3px; }
	#wpadminbar #wp-admin-bar-comments .ab-icon { margin: 0px; }
	#wpadminbar #wp-admin-bar-comments .ab-icon:before { display: block; font-size: 34px; height: 46px; line-height: 47px; top: 0px; }
	#wpadminbar #wp-admin-bar-my-account > a { position: relative; white-space: nowrap; text-indent: 150%; width: 28px; padding: 0px 10px; overflow: hidden; }
	#wpadminbar #wp-admin-bar-user-actions.ab-submenu { padding: 0px; }
	#wpadminbar #wp-admin-bar-user-info .display-name { height: auto; font-size: 16px; line-height: 24px; color: rgb(238, 238, 238); }
	#wpadminbar #wp-admin-bar-user-info a { padding-top: 4px; }
	#wp-toolbar > ul > li { display: none; }
	#wpadminbar li#wp-admin-bar-menu-toggle, #wpadminbar li#wp-admin-bar-wp-logo, #wpadminbar li#wp-admin-bar-my-sites, #wpadminbar li#wp-admin-bar-updates, #wpadminbar li#wp-admin-bar-site-name, #wpadminbar li#wp-admin-bar-new-content, #wpadminbar li#wp-admin-bar-edit, #wpadminbar li#wp-admin-bar-comments, #wpadminbar li#wp-admin-bar-new-content, #wpadminbar li#wp-admin-bar-my-account { display: block; }
	#wpadminbar li:hover ul li, #wpadminbar li.hover ul li, #wpadminbar li:hover ul li:hover ul li { display: list-item; }
	#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper { min-width: -moz-fit-content; }
	#wpadminbar ul#wp-admin-bar-root-default > li { margin-right: 0px; }
	#wpadminbar .ab-top-menu, #wpadminbar .ab-top-secondary, #wpadminbar #wp-admin-bar-wp-logo, #wpadminbar #wp-admin-bar-my-sites, #wpadminbar #wp-admin-bar-site-name, #wpadminbar #wp-admin-bar-updates, #wpadminbar #wp-admin-bar-comments, #wpadminbar #wp-admin-bar-new-content, #wpadminbar #wp-admin-bar-edit, #wpadminbar #wp-admin-bar-my-account { position: static; }
	#wpadminbar #wp-admin-bar-my-account { float: right; }
}
@media screen and (max-width: 600px) {
	#wpadminbar { position: absolute; }
	#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper { position: fixed; width: 100%; left: 0px; }
	#wpadminbar #wp-admin-bar-wp-logo.menupop .ab-sub-wrapper { margin-left: 0px; }
	#wpadminbar li#wp-admin-bar-wp-logo, #wpadminbar li#wp-admin-bar-updates { display: none; }
}
/* ::::: https://www.majinmht.com/wp-content/plugins/columns/columns.css?ver=3.8.3 ::::: */

/* ::::: https://www.majinmht.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.7.2 ::::: */

/* ::::: https://www.majinmht.com/wp-content/plugins/easy-digital-downloads/templates/edd.min.css?ver=1.9.8 ::::: */

@font-face {
	font-family: "padlock";
	font-style: normal;
	font-weight: 400;
	src: url('padlock.eot') format("embedded-opentype"), url('padlock.svg') format("svg");
}
@font-face {
	font-family: "padlock";
	src: url('undefined') format("woff"), url('undefined') format("truetype");
}
@font-face {
	font-family: "EDD-Icons";
	font-style: normal;
	font-weight: 400;
	src: url('edd-icons.eot') format("embedded-opentype"), url('edd-icons.woff') format("woff"), url('edd-icons.ttf') format("truetype"), url('edd-icons.svg') format("svg");
}
.edd-cart-number-of-items { font-style: italic; color: grey; }
.edd_subtotal { font-weight: 700; margin: 8px 0px; font-style: italic; }
/* ::::: https://www.majinmht.com/wp-content/themes/mystique/css/core.css?ver=3.3.2 ::::: */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, label, input, textarea, p, blockquote, table, th, td { margin: 0px; padding: 0px; }
html, body { height: 100%; min-height: 100%; }
body { font-family: "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif; font-size: 13px; color: rgb(51, 51, 51); background-color: rgb(0, 0, 0); }
#page { background: url('header.jpg') no-repeat scroll center top transparent; }
#page-ext { background: url('bg.png') repeat-x scroll center bottom transparent; }
#page { position: relative; min-height: 100%; }
.shadow-left { background: url('shadow.png') no-repeat scroll left bottom transparent; }
.shadow-right { background: url('shadow.png') no-repeat scroll right bottom transparent; padding-bottom: 21px; }
.page-content { max-width: 1200px; min-width: 400px; margin: 0px auto ! important; position: relative; }
body.fixed .page-content { width: 960px; }
a { text-decoration: underline; outline: medium none; }
a:hover { text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; margin: 0.75em 0px 0.25em; padding: 0px; }
h1 { font-size: 250%; letter-spacing: -0.04em; }
h2 { font-size: 200%; letter-spacing: -0.03em; }
h3 { font-size: 160%; letter-spacing: -0.02em; }
form { margin: 10px 0px 20px; }
input, select, textarea { font: 100% "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif; display: block; margin-bottom: 5px; padding: 5px 10px; }
input[type="submit"] { cursor: pointer; }
ul, ol { list-style-type: disc; list-style-position: outside; margin: 0px 0px 10px 20px; line-height: 150%; }
p { margin: 0.25em 0px 0.75em; line-height: 150%; }
img { border: 0px none; }
#main { border-top: 1px solid rgb(255, 255, 255); background: url('bg-main-r.jpg') no-repeat scroll right top rgb(255, 255, 255); min-height: 700px; position: relative; }
#main-ext { background: url('bg-main-l.jpg') no-repeat scroll left top transparent; }
#mask-3 { position: relative; z-index: 2; overflow: hidden; }
#mask-1, #mask-2 { float: left; position: relative; right: 0px; width: 100%; }
#primary-content, #sidebar, #sidebar2 { width: 100%; top: 0px; left: 0px; position: relative; float: left; min-height: 150px; padding: 10px 0px; }
#primary-content { min-height: 540px; }
.blocks { list-style-type: none; padding: 0px 10px; margin: 0px; }
#site-title { padding: 40px 0px 10px; }
#logo { font: bold 300% "Arial Black","Helvetica Black",Gadget,sans-serif; letter-spacing: -6px; margin: 10px 0px 25px; padding: 0px; float: left; }
#logo a { color: rgb(224, 224, 224); text-decoration: none; display: block; text-transform: uppercase; }
#logo a:hover { color: rgb(255, 255, 255); }
#site-title .headline { font-size: 120%; font-style: italic; border-left: 1px solid rgb(204, 204, 204); color: rgb(255, 255, 255); float: left; padding: 10px 0px 10px 20px; margin: 20px 0px 0px 20px; }
.nav { position: relative; }
.nav ul, .nav li { list-style-type: none; padding: 0px; margin: 0px; }
.nav li { position: relative; float: left; line-height: normal; }
.nav a { display: block; position: relative; text-decoration: none; }
.nav a:hover { text-decoration: none; }
.nav-main { z-index: 10; }
.nav-main ul { background: url('bg-nav.png') repeat-x scroll center top rgb(206, 206, 206); border-top: 1px solid rgb(255, 255, 255); }
.nav-main li { background: url('nav-div.png') repeat-y scroll right top transparent; padding-right: 2px; border-top: 1px solid rgb(255, 255, 255); margin-top: -1px; }
.nav-main a { color: rgb(78, 78, 78); font-size: 14px; padding: 6px 15px 8px; text-decoration: none; font-weight: bold; text-shadow: 0px 1px 1px rgb(255, 255, 255); }
.nav-main .menu-home a { background: url('icons.png') no-repeat scroll -46px -56px transparent; padding-left: 32px; }
.nav-main .active, .nav-main .active-parent { background: url('nav-a.png') no-repeat scroll left top rgb(0, 0, 0); border-color: rgb(136, 136, 136); }
.nav-main .active > a, .nav-main .active-parent > a { color: rgb(255, 255, 255); text-shadow: none; }
.nav-main .active > a span.p, .nav-main .active-parent > a span.p { background: url('nav-a.png') no-repeat scroll center bottom transparent; position: absolute; width: 100%; bottom: -7px; left: 0px; height: 7px; z-index: 5; }
.nav-main li.open, .nav-main li:hover { background-color: rgb(255, 255, 255); }
.nav-main li.open > a, .nav-main li:hover > a { color: rgb(45, 138, 199); text-shadow: none; }
.block { list-style-type: none; padding: 0px; margin: 10px 0px 20px; }
.block .title { position: relative; }
.block .title h3 { background: none no-repeat scroll center top transparent; margin: 0px; padding: 7px 10px 4px; border-top-left-radius: 7px; border-top-right-radius: 7px; font-weight: bold; font-size: 130%; color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5); text-transform: uppercase; }
.block .title .br { background: none no-repeat scroll left bottom transparent; height: 22px; margin-right: 60px; }
.block .title .bl { background: none no-repeat scroll right bottom transparent; height: 22px; width: 60px; position: absolute; bottom: 0px; right: 0px; }
.block ul.menu, .block ul.menu ul, .block ul.menu li, .block .box, .block .box .entry { margin: 0px; padding: 0px; list-style-type: none; line-height: normal; }
.block ul.menu li, .block ul.box .entry { border-bottom: 1px dotted rgb(170, 170, 170); border-top: 1px dotted rgb(255, 255, 255); }
.block ul.menu li.first, .block ul.menu li:first-child, .block ul.box .entry.first, .block ul.box .entry:first-child { border-top: 0px none ! important; }
.block ul.menu li.last, .block ul.menu li:last-child, .block ul.box .entry.last, .block ul.box .entry:last-child { border-bottom: 0px none ! important; }
.block ul.menu li, .block ul.box .entry { position: relative; z-index: 5; }
.block ul.menu a, .block ul.box .entry { display: block; text-decoration: none; padding: 10px; }
.block ul.menu a:hover { background: none repeat scroll 0% 0% rgba(140, 140, 140, 0.1); }
.block ul.menu .active, .block ul.menu .active-parent { background-color: rgba(200, 200, 200, 0.1); }
.block ul.menu .active > a, .block ul.menu .active-parent > a { color: rgb(153, 153, 153); }
.hentry { margin-bottom: 2em; padding-bottom: 20px; position: relative; border-bottom: 1px dotted rgb(232, 232, 232); }
.hentry .controls { display: none; position: absolute; z-index: 5; right: 10px; bottom: 30px; }
.hentry:hover > .controls { display: block; }
h1.title { margin: 0.25em 0px 0.5em; font-size: 300%; font-weight: bold; text-shadow: 1px 1px 1px rgb(255, 255, 255); line-height: 100%; letter-spacing: -1px; }
.media, .media li { list-style-type: none; margin: 0px; padding: 0px; }
.media { position: absolute; bottom: 20px; right: 10px; z-index: 5; }
.media li { float: right; margin-right: 5px; }
.media .icon { display: block; width: 64px; height: 64px; }
.media .icon span { display: none; }
#footer { background: none repeat scroll 0% 0% rgb(221, 221, 221); }
#footer #copyright { background: none repeat scroll 0% 0% rgb(205, 205, 205); padding: 1em 0px; font-size: 110%; line-height: 150%; text-align: center; text-shadow: 0px 1px 1px rgb(255, 255, 255); }
.controls > a { font-weight: bold; display: inline-block; padding: 5px 10px; margin-left: 2px; font-size: 100%; cursor: pointer; outline: medium none; position: relative; background-color: rgb(221, 221, 221); background-repeat: repeat-x; background-image: -moz-linear-gradient(center top , rgb(238, 238, 238), rgb(221, 221, 221)); text-decoration: none; text-shadow: 0px 1px 1px rgb(255, 255, 255); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.024) inset, 0px -1px rgba(0, 0, 0, 0.024) inset; border-bottom: 1px solid rgba(0, 0, 0, 0.25); color: rgb(128, 128, 128); border-radius: 5px; }
input[type="submit"] { z-index: 20; }
.controls a:hover { background-color: rgb(25, 25, 25); background-repeat: repeat-x; background-image: -moz-linear-gradient(center top , rgb(41, 41, 41), rgb(25, 25, 25)); color: rgb(255, 255, 255); text-decoration: none; text-shadow: 0px 1px 1px rgb(0, 0, 0); }
.clear-block:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.fadeThis a, .fade { transition: background-color 0.25s linear 0s, color 0s ease 0s; }
.fadeThis a:hover, .fade:hover { transition: background-color 0.25s linear 0s, color 0s ease 0s; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center; }
a.go-top { display: none; position: fixed; right: 10px; bottom: 10px; cursor: pointer; z-index: 99; padding: 5px 10px; font-weight: bold; font-size: 11px; background-color: rgb(255, 255, 255); text-decoration: none; border-radius: 20px; }
a.go-top:hover {  }
.breadcrumbs { padding: 10px 0px; margin: 5px 0px; color: rgb(153, 153, 153); }
.breadcrumbs a { display: inline-block; background: none repeat scroll 0% 0% rgb(238, 238, 238); text-decoration: none; color: rgb(153, 153, 153); padding: 1px 5px 2px; border-radius: 5px; }
.breadcrumbs a:hover { background: none repeat scroll 0% 0% rgb(51, 51, 51); color: rgb(255, 255, 255); }
/* ::::: https://www.majinmht.com/wp-content/themes/mystique/css/style-green.css?ver=3.3.2 ::::: */

a { color: rgb(110, 140, 3); }
a:hover { color: rgb(169, 191, 4); }
.block .title h3, .block .title .br, .block .title .bl { background-image: url('block-t.png'); }
/* ::::: https://www.majinmht.com/wp-content/plugins/ultimate-tinymce/css/column-style.css?ver=3.8.3 ::::: */

/* ::::: https://www.majinmht.com/wp-content/plugins/wp-members/css/generic-no-float.css?ver=3.8.3 ::::: */

#wp-members { width: 100%; }
@media screen and (max-width: 720px) {
}
html { margin-top: 32px ! important; }
@media screen and (max-width: 782px) {
	html { margin-top: 46px ! important; }
}
.fixed.c2right #primary-content { width: 700px; left: 260px; }
.fixed.c2right #sidebar { width: 260px; left: 260px; }
.fixed.c2right #mask-1 { right: 260px; }
.media .icon { background: url('mystique_media_icons.png') no-repeat scroll center top transparent; }
.media .linkedin .icon { background-position: center 0px; }
.media .twitter .icon { background-position: center -63px; }
.media .facebook .icon { background-position: center -126px; }
p { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; }
h1, h2, h3, h4, #site-title .headline { font-family: 'Open Sans',sans-serif; font-weight: 700; }
.info_block { padding: 8px 35px 8px 14px; margin: 0px 40px 5px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); border: 1px solid rgb(152, 208, 200); border-radius: 4px; color: rgb(44, 126, 144); background-color: rgb(227, 242, 253); }
.c2right #mask-1, .c2left #mask-3, .c3 #mask-2, .c3left #mask-3, .c3right #mask-1 { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.c2left #mask-1, .c2right #mask-3, .c3 #mask-1, .c3 #mask-3, .c3left #mask-2, .c3right #mask-3 { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
#page { background: none no-repeat scroll center top transparent; }
#logo:before { content: url('unisave-logo.png'); }
#site-title { padding: 1em 0px 0em; }
#site-title #logo { line-height: 0; }
#site-title .headline { font-style: normal; }
#logo a { visibility: hidden; }
.media { bottom: 30px; position: absolute; right: 2px; z-index: 5; }
.media:hover { bottom: 50px; }
.breadcrumbs { font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: 400; color: white; max-width: 960px; min-width: 400px; margin: 0px auto ! important; position: relative; }
.breadcrumbs .home, .breadcrumbs .post, .breadcrumbs .post-page { background-color: rgb(169, 191, 4); color: white; }
.breadcrumbs a:hover { background-color: white; color: rgb(169, 191, 4); }
